<template>
  <div class="box" :class="classNames">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.box {
  position: relative;
}
</style>

<script>
import Navigable from '../mixins/Navigable'

/**
 * A simple component for basic navigation, for implementing buttons, links
 * @augments Navigable
 * @module Box
 * @example
 * <!-- code as: -->
 * <box>
 *   <!-- navigable content -->
 * </box>
 * @example
 * <!-- render as: -->
 * <div class="box">
 *   <!-- navigable content -->
 * </div>
 */
export default {
  mixins: [Navigable],
  computed: {
    classNames () {
      return {
        focused: this.isFocused,
        disabled: !this.isEnabled
      }
    }
  }
}
</script>
