<template>
  <div class="item" :class="classNames">
    {{ message }}
  </div>
</template>

<style lang="scss" scoped>
.item {
  display: inline-block;
  vertical-align: top;
}
</style>

<script>
import Navigable from '../mixins/Navigable'

export default {
  mixins: [Navigable],
  props: ['message'],
  computed: {
    classNames () {
      return {
        focused: this.isFocused,
        disabled: !this.isEnabled
      }
    }
  }
}
</script>
