<template>
  <div class="view" :class="classNames">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.view {
  position: relative;
  overflow: hidden;
  text-align: left;
}
</style>

<script>
import NavigableViewport from '../mixins/NavigableViewport'

/**
 * A simple wrapper component providing basic viewport features.
 * @augments NavigableViewport
 * @module View
 * @example
 * <!-- code as: -->
 * <view>
 *   <!-- navigable content -->
 * </view>
 * @example
 * <!-- render as: -->
 * <div class="view">
 *   <!-- navigable content -->
 * </div>
 */
export default {
  mixins: [NavigableViewport],
  computed: {
    classNames () {
      return {
        focused: this.isFocused,
        disabled: !this.isEnabled,
        empty: this.isEmpty
      }
    }
  }
}
</script>
