<template>
  <div id="app">
    <scrollview class="page" :translate-method="translateMethod" :smooth-scroll="isSmoothScroll">
      <panel>
        <h1>ScrollView</h1>
        <scrollview ref="start" class="scrollview" :scroll-padding="[0,75]" :translate-method="translateMethod" :smooth-scroll="isSmoothScroll">
          <item class="item" message="Item 0"></item>
          <item class="item" message="Item 1" style="margin-top: 50px;"></item>
          <item class="item" message="Item 2" style="margin-top: 100px;"></item>
          <item class="item" message="Item 3"></item>
          <item class="item" message="Item 4" style="margin-top: 50px;"></item>
          <item class="item" message="Item 5" style="margin-top: 100px;"></item>
        </scrollview>
      </panel>
      <panel>
        <h1>ScrollPanel</h1>
        <scrollpanel class="scrollpanel" ref="scrollpanel" :translate-method="translateMethod">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a dolor augue. Proin at est vel felis porttitor sodales. Fusce scelerisque fermentum quam id feugiat. Nam porttitor nisi nec leo porta, sed pretium lorem condimentum. Nam cursus cursus metus at fringilla. Integer posuere nisi purus, eget vulputate elit consectetur sit amet. Nullam condimentum purus nisi. Nulla quam ante, sagittis sed euismod et, facilisis et est. Donec placerat sagittis placerat. Aenean blandit, nunc sit amet mollis vestibulum, arcu lorem pharetra justo, convallis cursus felis urna nec ante. Quisque elit lorem, luctus id tempus in, venenatis vel augue. Donec suscipit erat sit amet pretium tempor. Proin eget dui eget lacus ullamcorper viverra quis nec ligula. Vestibulum at feugiat lorem. Praesent laoreet lectus sed fermentum vestibulum. Nunc vitae vulputate nibh.</p>
          <p>Suspendisse potenti. Suspendisse id pharetra dui, eu sagittis eros. Morbi feugiat lectus sapien, ut convallis risus dignissim eget. Nunc vitae tortor ultrices, suscipit ex quis, interdum elit. Sed ullamcorper dignissim fringilla. In nisi turpis, feugiat quis convallis quis, accumsan nec nisl. Duis dapibus enim ligula, sit amet pretium nunc tristique at. Nunc non neque vitae magna rhoncus gravida porttitor ut leo. Nullam tristique risus ac efficitur suscipit. Fusce vel mauris a nunc auctor malesuada sit amet in ante. Nulla eget dictum ante. Donec in rhoncus mi. Phasellus dictum ex at est pulvinar, eu ultrices nisl facilisis.</p>
          <p>Ut id felis sit amet dui dignissim tempus ac nec nisl. Sed eleifend egestas ligula non volutpat. Integer at facilisis mauris. Sed finibus sed augue ac vulputate. Maecenas dignissim varius ullamcorper. Sed mattis porta lectus, id vulputate risus iaculis non. In elementum orci sed tortor consequat, ac laoreet velit dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam turpis est, semper a feugiat aliquam, mattis at ante. Ut elit dui, tempus in tincidunt feugiat, iaculis consequat lectus. Cras venenatis, leo eget ornare dictum, neque dui sagittis ante, non vehicula ipsum eros id magna. Duis dignissim molestie metus ut scelerisque. Ut eleifend pellentesque libero ac ornare. Proin vestibulum augue eget tristique auctor. Nulla tempor dolor turpis, eu cursus nulla eleifend in.</p>
          <p>Donec nisl metus, feugiat vitae arcu a, aliquet mattis quam. Curabitur luctus gravida cursus. Cras condimentum pellentesque faucibus. Nam euismod leo odio, in pretium quam elementum non. Etiam vitae dolor sit amet est pulvinar faucibus ac vel dui. Duis suscipit metus vel tortor fermentum vestibulum. Pellentesque eget rutrum enim. In ut magna vitae augue vehicula porttitor. Duis odio nisi, sagittis ut congue nec, efficitur sit amet elit. Maecenas ipsum ex, tristique tincidunt justo ut, sagittis efficitur sapien. Aliquam nunc ex, ultricies a tellus at, condimentum dignissim libero. Ut ut sodales ante. Morbi vestibulum tortor ipsum, sit amet rhoncus quam tincidunt vel. Aenean vestibulum velit dapibus, placerat sem eget, molestie lorem.</p>
          <p>Nullam in sodales ante. Ut ac nibh in justo aliquam gravida et in eros. Nullam tincidunt vitae velit a volutpat. Ut pulvinar ipsum non ligula sollicitudin lacinia. Nunc vehicula nunc eu lorem suscipit feugiat. Nullam et tellus luctus, pellentesque tortor in, tempus neque. Etiam faucibus imperdiet ullamcorper. Curabitur convallis vitae mauris sit amet molestie. Suspendisse iaculis, erat non egestas tincidunt, leo lacus condimentum erat, quis pharetra tellus erat in ligula. Nunc rutrum erat luctus urna euismod, sit amet pretium erat venenatis. Fusce eget orci justo. Proin tempor sapien nisi, at ullamcorper arcu volutpat sed. Vivamus quis dolor non sem blandit dictum vitae sit amet justo. Sed eleifend nunc id nibh facilisis imperdiet.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a dolor augue. Proin at est vel felis porttitor sodales. Fusce scelerisque fermentum quam id feugiat. Nam porttitor nisi nec leo porta, sed pretium lorem condimentum. Nam cursus cursus metus at fringilla. Integer posuere nisi purus, eget vulputate elit consectetur sit amet. Nullam condimentum purus nisi. Nulla quam ante, sagittis sed euismod et, facilisis et est. Donec placerat sagittis placerat. Aenean blandit, nunc sit amet mollis vestibulum, arcu lorem pharetra justo, convallis cursus felis urna nec ante. Quisque elit lorem, luctus id tempus in, venenatis vel augue. Donec suscipit erat sit amet pretium tempor. Proin eget dui eget lacus ullamcorper viverra quis nec ligula. Vestibulum at feugiat lorem. Praesent laoreet lectus sed fermentum vestibulum. Nunc vitae vulputate nibh.</p>
          <p>Suspendisse potenti. Suspendisse id pharetra dui, eu sagittis eros. Morbi feugiat lectus sapien, ut convallis risus dignissim eget. Nunc vitae tortor ultrices, suscipit ex quis, interdum elit. Sed ullamcorper dignissim fringilla. In nisi turpis, feugiat quis convallis quis, accumsan nec nisl. Duis dapibus enim ligula, sit amet pretium nunc tristique at. Nunc non neque vitae magna rhoncus gravida porttitor ut leo. Nullam tristique risus ac efficitur suscipit. Fusce vel mauris a nunc auctor malesuada sit amet in ante. Nulla eget dictum ante. Donec in rhoncus mi. Phasellus dictum ex at est pulvinar, eu ultrices nisl facilisis.</p>
          <p>Ut id felis sit amet dui dignissim tempus ac nec nisl. Sed eleifend egestas ligula non volutpat. Integer at facilisis mauris. Sed finibus sed augue ac vulputate. Maecenas dignissim varius ullamcorper. Sed mattis porta lectus, id vulputate risus iaculis non. In elementum orci sed tortor consequat, ac laoreet velit dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam turpis est, semper a feugiat aliquam, mattis at ante. Ut elit dui, tempus in tincidunt feugiat, iaculis consequat lectus. Cras venenatis, leo eget ornare dictum, neque dui sagittis ante, non vehicula ipsum eros id magna. Duis dignissim molestie metus ut scelerisque. Ut eleifend pellentesque libero ac ornare. Proin vestibulum augue eget tristique auctor. Nulla tempor dolor turpis, eu cursus nulla eleifend in.</p>
          <p>Donec nisl metus, feugiat vitae arcu a, aliquet mattis quam. Curabitur luctus gravida cursus. Cras condimentum pellentesque faucibus. Nam euismod leo odio, in pretium quam elementum non. Etiam vitae dolor sit amet est pulvinar faucibus ac vel dui. Duis suscipit metus vel tortor fermentum vestibulum. Pellentesque eget rutrum enim. In ut magna vitae augue vehicula porttitor. Duis odio nisi, sagittis ut congue nec, efficitur sit amet elit. Maecenas ipsum ex, tristique tincidunt justo ut, sagittis efficitur sapien. Aliquam nunc ex, ultricies a tellus at, condimentum dignissim libero. Ut ut sodales ante. Morbi vestibulum tortor ipsum, sit amet rhoncus quam tincidunt vel. Aenean vestibulum velit dapibus, placerat sem eget, molestie lorem.</p>
          <p>Nullam in sodales ante. Ut ac nibh in justo aliquam gravida et in eros. Nullam tincidunt vitae velit a volutpat. Ut pulvinar ipsum non ligula sollicitudin lacinia. Nunc vehicula nunc eu lorem suscipit feugiat. Nullam et tellus luctus, pellentesque tortor in, tempus neque. Etiam faucibus imperdiet ullamcorper. Curabitur convallis vitae mauris sit amet molestie. Suspendisse iaculis, erat non egestas tincidunt, leo lacus condimentum erat, quis pharetra tellus erat in ligula. Nunc rutrum erat luctus urna euismod, sit amet pretium erat venenatis. Fusce eget orci justo. Proin tempor sapien nisi, at ullamcorper arcu volutpat sed. Vivamus quis dolor non sem blandit dictum vitae sit amet justo. Sed eleifend nunc id nibh facilisis imperdiet.</p>
        </scrollpanel>
      </panel>
      <panel>
        <h1>ListView</h1>
        <listview class="listview" ref="listview" :items="dummyData" orientation="horizontal" :scroll-padding="[0,75]" :translate-method="translateMethod" :smooth-scroll="isSmoothScroll">
          <item slot-scope="listscope" class="item" :message="listscope.item.message"></item>
        </listview>
      </panel>
      <panel>
        <h1>GridView</h1>
        <gridview class="gridview" ref="gridview" :items="dummyData" :grid-size="2" orientation="horizontal" :scroll-padding="[0,75]" :translate-method="translateMethod" :smooth-scroll="isSmoothScroll">
          <item slot-scope="gridscope" class="item" :message="gridscope.item.message"></item>
        </gridview>
      </panel>
      <panel>
        <h1>Box</h1>
        <box class="box option" @click="toggleModal">Open options in modal</box>
      </panel>
    </scrollview>
    <panel class="modal" ref="modal" v-if="showModal">
      <box class="box" :class="{selected: translateMethod === 'translate'}" layer="modal" @click="changeTranslateMethod" ref="translateByTranslate">Translate</box>
      <box class="box" :class="{selected: translateMethod === 'translate3d'}" layer="modal" @click="changeTranslateMethod" ref="translateByTranslate3D">Translate3D</box>
      <box class="box" :class="{selected: translateMethod === 'position'}" layer="modal" @click="changeTranslateMethod" ref="translateByPosition">Position</box>
      <box class="box" :class="{selected: translateMethod === 'margin'}" layer="modal" @click="changeTranslateMethod" ref="translateByMargin">Margin</box>
      <box class="box" :class="{selected: isSmoothScroll}" layer="modal" @click="toggleSmoothScroll" ref="smoothScroll">Smooth scroll</box>
      <box class="box" :class="{selected: isCacheEnabled}" layer="modal" @click="toggleCache" ref="smoothScroll">Use cache</box>
      <box class="box" layer="modal" @click="toggleModal">Close</box>
    </panel>
  </div>
</template>

<style lang="scss" scoped>
* { box-sizing: border-box }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#app, .page, .modal {
  width: 100%;
  height: 100%;
}
.page, .modal {
  position: absolute;
}
.modal {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  .box {
    width: 150px;
    &.selected {
      background: #cfc;
    }
    &.focused {
      background:#ccc;
      outline: 3px solid #fcc;
    }
    &.focused.selected {
      background: #cfc;
    }
  }
}
.scrollview, .listview, .gridview, .scrollpanel {
  width: 100%;
  &.focused {
    background: #ffc;
  }
}
.listview, .scrollview {
  height: 160px;
}
.gridview, .scrollpanel {
  height: 304px;
}
.item {
  width: 150px;
  height: 150px;
  margin: 1px;
  font-size: 12px;
  padding: 10px;
  background:#ccc;
  &.focused {
    background: #fcc;
  }
}
.box {
  width: 200px;
  height: 50px;
  margin: 1px;
  text-align: center;
  font-size: 12px;
  line-height: 50px;
  background:#ccc;
  &.focused {
    background: #fcc;
  }
  &.selected {
    background: #cfc;
  }
  &.option {
    margin-left: 75px;
  }
}
.scrollpanel {
  background:#ccc;
  &.focused {
    background: #fcc;
  }
  &.selected {
    background: #ffc;
  }
}
/deep/ .grid-view-item {
  width: 152px;
  height: 152px;
  .item {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px;
  }
}
</style>

<script>
// @ is an alias to /src

import NavigationManager from '@/managers/NavigationManager'
import ScrollPanel from '@/components/ScrollPanel'
import ScrollView from '@/components/ScrollView'
import ListView from '@/components/ListView'
import GridView from '@/components/GridView'
import View from '@/components/View'
import Box from '@/components/Box'
import Item from '@/components/Item'

export default {
  name: 'home',
  components: {
    item: Item,
    panel: View,
    scrollview: ScrollView,
    gridview: GridView,
    listview: ListView,
    scrollpanel: ScrollPanel,
    box: Box
  },
  data () {
    return {
      dummyData: [],
      showModal: false,
      translateMethod: 'translate',
      isSmoothScroll: true,
      isCacheEnabled: true
    }
  },
  created () {
    for (let i = 0; i < 20; i++) {
      this.dummyData.push({
        message: 'Item ' + (i + 1),
        grid: {
          colspan: i % 9 ? 1 : 2,
          rowspan: i % 9 ? 1 : 2
        }
      })
    }
    this.isCacheEnabled = NavigationManager.instance.isCacheEnabled
  },
  mounted () {
    NavigationManager.instance.init()
    this.$refs.start.focus()

    window.app = this
    window.scrollview = this.$refs.start
    window.scrollpanel = this.$refs.scrollpanel
    window.listview = this.$refs.listview
    window.gridview = this.$refs.gridview
    window.navigationManager = NavigationManager.instance
  },
  watch: {
    isCacheEnabled () {
      NavigationManager.instance.isCacheEnabled = this.isCacheEnabled
    }
  },
  methods: {
    toggleModal () {
      this.showModal = !this.showModal
      if (this.showModal) {
        this.$nextTick(() => { this.$refs.modal.focus() })
      } else {
        NavigationManager.instance.getFocused('default').focus()
      }
    },
    changeTranslateMethod (box) {
      if (box === this.$refs.translateByTranslate) this.translateMethod = 'translate'
      if (box === this.$refs.translateByTranslate3D) this.translateMethod = 'translate3d'
      if (box === this.$refs.translateByPosition) this.translateMethod = 'position'
      if (box === this.$refs.translateByMargin) this.translateMethod = 'margin'
    },
    toggleSmoothScroll () {
      this.isSmoothScroll = !this.isSmoothScroll
    },
    toggleCache () {
      this.isCacheEnabled = !this.isCacheEnabled
    },
    addItem () {
      let i = this.dummyData.length
      this.dummyData.push({
        message: 'Item ' + (i + 1),
        grid: {
          colspan: i % 9 ? 1 : 2,
          rowspan: i % 9 ? 1 : 2
        }
      })
    }
  }
}
</script>
